layout: big/home.twig
permalink: courses/
basepath: ../
title: 課程資訊
sub_title: Courses
active_menu: courses

banner:
    image: url(../media/img/banner/feature-2.jpg)

providers:
    courses:
        provider: 'Courses'
---

<section id="basic-section" class="main-block courses-layout">
    <div class="uk-container uk-container-center">
        <div class="uk-width-medium-1-1 uk-container-center">
            <h1 class="page-title">{{ this.title }}</h1>
            <h2 class="sub-title">{{ this.sub_title }}</h2>

            {% for cat_key, category in this.providers.courses %}

                <h2 class="category-title cat-{{ cat_key }}">{{ category.title }}</h2>
                <hr />

                {% set count = 1 %}

                {% for key, course in category.courses %}

                    {% set course = course|merge({'id': key}) %}

                    {% if count == 1 %}
                        <div class="uk-grid">
                    {% endif %}

                    {% include 'courses/_item.twig' with {'course': course} %}

                    {% if count == 3 or loop.length == loop.index %}
                        </div>
                        {% set count = 1 %}
                    {% else %}
                        {% set count = count + 1 %}
                    {% endif %}

                {% endfor %}

            {% endfor %}

        </div>
    </div>
</section>