layout: default.twig
title: Asukademy 飛鳥學院
---
<section id="features">
    <div class="uk-container uk-container-center">
        <article class="feature-item feature-one">
            <div class="uk-grid" data-uk-grid-match>
                <div class="uk-width-medium-1-2 feature-img">
                    <img src="http://placehold.it/550x300" alt="Image" />
                </div>

                <div class="uk-width-medium-1-2 feature-desc">
                    <h2>Feature Title</h2>
                    <p>
                        是抱著滿腹的憤氣，一邊有些氣憤不過的人，和純真的孩童們，日月不相望的什麼新曆法，新聞雜誌也各增刊而特刊，容得我們自由獵取？接著又說，約同不平者的聲援，鬧熱到了，捧出滿腔誠意，透過了衣衫，現在想沒得再一個，未嘗有人敢自看輕
                    </p>
                </div>
            </div>
        </article>

        <article class="feature-item feature-two">
            <div class="uk-grid uk-grid-margin">
                <div class="uk-width-medium-1-2 feature-desc">
                    <h2>Feature Title</h2>
                    <p>
                        是抱著滿腹的憤氣，一邊有些氣憤不過的人，和純真的孩童們，日月不相望的什麼新曆法，新聞雜誌也各增刊而特刊，容得我們自由獵取？接著又說，約同不平者的聲援，鬧熱到了，捧出滿腔誠意，透過了衣衫，現在想沒得再一個，未嘗有人敢自看輕
                    </p>
                </div>

                <div class="uk-width-medium-1-2 feature-img">
                    <img src="http://placehold.it/550x300" alt="Image" />
                </div>
            </div>
        </article>

        <article class="feature-item feature-three">
            <div class="uk-grid">
                <div class="uk-width-medium-1-2 feature-img">
                    <img src="http://placehold.it/550x300" alt="Image" />
                </div>

                <div class="uk-width-medium-1-2 feature-desc">
                    <h2>Feature Title</h2>
                    <p>
                        是抱著滿腹的憤氣，一邊有些氣憤不過的人，和純真的孩童們，日月不相望的什麼新曆法，新聞雜誌也各增刊而特刊，容得我們自由獵取？接著又說，約同不平者的聲援，鬧熱到了，捧出滿腔誠意，透過了衣衫，現在想沒得再一個，未嘗有人敢自看輕
                    </p>
                </div>
            </div>
        </article>
    </div>
</section>
