<footer id="footer">
    <div class="uk-container uk-container-center uk-text-center">

        <div class="footer-logo">
            <a href="#" data-uk-smooth-scroll>
                <img src="{{ this.basepath }}media/img/asukademy-logo-hex.png" width="150" alt="Footer LOGO">
            </a>
        </div>

        <p class="uk-text-center social-buttons">
            <a target="_blank" class="uk-icon-button uk-icon-facebook" href="https://fb.me/asukademy"></a>

            <a target="_blank" class="uk-icon-button uk-icon-github" href="https://github.com/asukademy"></a>

            <a class="uk-icon-button uk-icon-envelope-o" href="mailto:asika32764@gmail.com"></a>
        </p>

        <p>
            Copyright © 2014 Asukademy. All Rights Reserved.
        </p>
        <p class="back">
            <a href="#" data-uk-smooth-scroll><span class="uk-icon-chevron-up"></span> Back to Top</a>
        </p>
    </div>
</footer>
