<footer id="footer">
    <div class="uk-container uk-container-center uk-text-center">

        <div class="footer-logo">
            <a target="_blank" href="http://asika.tw">
                <img src="placehold.it/150x150" alt="Footer LOGO">
            </a>
        </div>

        <p class="uk-text-center social-buttons">
            <a target="_blank" class="uk-icon-button uk-icon-facebook" href="https://fb.me/eziospray"></a>

            <a target="_blank" class="uk-icon-button uk-icon-github" href="https://github.com/asika32764"></a>

            <a target="_blank" class="uk-icon-button uk-icon-linkedin" href="https://www.linkedin.com/profile/view?id=176760802"></a>

            <a target="_blank" class="uk-icon-button uk-icon-google-plus" href="https://plus.google.com/111472877007457277709"></a>

            <a class="uk-icon-button uk-icon-envelope-o" href="mailto:asika32764@gmail.com"></a>
        </p>

        <p>
            Copyright © 2014 Asukademy. All Rights Reserved.
        </p>
        <p class="back">
            <a href="#"><span class="uk-icon-chevron-up"></span> Back to Top</a>
        </p>
    </div>
</footer>
