<section id="banner" style="{{ this.banner.image ? 'background-image: ' ~ this.banner.image ~ ';' : '' }}height:{{ this.banner.height ?: '200px' }} ;">
    <div class="banner-inner">

    </div>
</section>
